body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid rgb(0, 0, 0);
    padding: 10px;
  }
  
  .main-description {
    text-align: center;
    background-color: pink;
    color: #000000;
    border-radius: 0;
    border-bottom: 25px solid palevioletred;
  }

  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid rgb(255, 255, 255);
  }
  
  .hour {
    background-color: palevioletred;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: pink;
    color: white;
  }
  
  .present {
    background-color: rgb(252, 108, 132);
    color: white;
  }
  
  .future {
    background-color: rgb(255, 146, 164);
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: palevioletred;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  